@{
    ViewData["Title"] = "About the author";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Bachelor in Computer Science</h2>
            <ul class="list-unstyled">
                <li><strong>17+ years professional experience</strong> in software development</li>
                <li><strong>Expertise:</strong> Object-oriented design, data structures, algorithm design, problem solving, and complexity analysis</li>
                <li><strong>Fluency:</strong> Modern programming language C#</li>
                <li><strong>Software engineering practices:</strong> Developing and maintaining best practices</li>
                <li><strong>Mentorship:</strong> Experience mentoring software engineers to improve their skills and productivity</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Professional Knowledge</h3>
            <p>Deep understanding of professional software engineering practices throughout the entire software development life cycle:</p>
            <ul>
                <li>Coding standards</li>
                <li>Code reviews</li>
                <li>Source control management</li>
                <li>Build processes</li>
                <li>Testing and operations</li>
            </ul>
            <p><strong>Key Abilities:</strong></p>
            <ul>
                <li>Managing projects from scoping requirements through to launch</li>
                <li>Communicating effectively with users, technical teams, and senior management</li>
                <li>Designing and strategizing software products</li>
                <li>Hands-on expertise across front-end, back-end systems, and middleware technologies</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Development Methodologies</h3>
            <ul>
                <li>DevOps Culture</li>
                <li>Scrum/Kanban</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Technical Skills</h3>
            <ul class="list-group">
                <li class="list-group-item">REST APIs Integration</li>
                <li class="list-group-item">WebServices</li>
                <li class="list-group-item">Application Middleware (IIS)</li>
                <li class="list-group-item">Version Control: Git/TFS/SVN, GitFlow</li>
                <li class="list-group-item">Continuous Delivery (CD) and Continuous Integration (CI)</li>
                <li class="list-group-item">SQL Server, EF Core</li>
                <li class="list-group-item">Design Patterns, SOLID Principles</li>
                <li class="list-group-item">.NET 8, ASP.NET MVC</li>
                <li class="list-group-item">Unit Testing with XUnit</li>
                <li class="list-group-item">Frontend Development with JavaScript</li>
                <li class="list-group-item">API REST</li>
                <li class="list-group-item">Service Oriented Architecture (SOA)</li>
            </ul>
        </div>
    </div>
</div>
