@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem vindo ao Teste de Jefferson Calado</h1>
    
    <div class="text-warning">
        <p>Stack:</p>
    <div class="row col-3">
        <ul><li>MVC</li> <li>.NET 8</li><li>Entity Frame Core 9.0</li><li>REST</li><li>SQL Server(Azure)</li><li>xUnit</li></ul>

    </div>
    </div>
    

    <a asp-controller="MovimentoManuals" asp-action="Index">Começar</a>
</div>
