@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center mt-5">
    <h1 class="mb-4">Test for BNP Paribas - Jefferson Calado</h1>

    <div class="text-warning">
        <p class="h5">Stack:</p>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">MVC</li>
                    <li class="list-group-item">.NET 8</li>
                    <li class="list-group-item">Entity Framework Core 9.0</li>
                    <li class="list-group-item">REST</li>
                    <li class="list-group-item">SQL Server (Azure)</li>
                    <li class="list-group-item">xUnit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-controller="MovimentoManuals" asp-action="Index" class="btn btn-primary btn-lg">CLICK TO START</a>
    </div>
</div>
